.searchBox {
    height: 45px;
    width: 80%;
    display: grid;
    grid-template-columns: 8fr 1fr 2.5fr;
    grid-template-rows: 100%;
    grid-template-areas: "search_input search_radius submit";
    padding: 5px;
}

.search_input {
    grid-area: search_input;
    margin-right: 1px;
    border: 0;
    text-align: center;
    border-radius: 0px 0px 0 20px;
    outline: none;
    font-style: italic;
    font-size: 13px;
}

.search_radius {
    grid-area: search_radius;
    margin-right: 2px;
    border: none;
    text-align: center;
    outline: none;
}

.submit {
    grid-area: submit;
    background: #F80002;
    color: white;
    border: none;
    border-radius: 0px 20px 0 0;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    outline: none;
    font-style: italic;
    font-size: 13px;
}

.submit:hover {
    background: rgb(180, 2, 5);
}