.directions {
    background: black;
    margin: auto;
    height: 100vh;
}

.direction {
    background: black;
    margin: auto;
    width: 70%;
    overflow: hidden;
}

.direction h6 {
    font-weight: 100;
    color: gray;
}

.direction img {
    height: 80%;
    width: 100%;
    overflow: hidden;
}